:root{
  --white-color: #fff;
  --black-color: #000;
  --dark-color: #1c2e3d;
  --accent-color: #E8594E;
  --accent-hover-color: #cb4d41;
  --neptoon-color:#73AFBA;
  --neptoon-hover-color: #518791;
  --grey-footer: #959EA6;
  --hover-footer:#28292c;


}